{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Tarini Pet Clinic</title>

    <!-- bootstrap core css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <!-- responsive style -->
    <link
      href="{% static 'css/responsive.css' %}"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <div class="" id="">
              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a href="{% url 'home' %}">Home</a>
                  <a href="{% url 'about' %}">About</a>
                  <a href="#contact_us">Contact Us</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- about section -->

    <section id="about" class="about_section">
      <div class="container">
        <div class="detail-box">
          <div class="heading_container">
            <img src="{% static 'images/heading-img.png'%}" alt="" />
            <h2>About Us</h2>
          </div>
          <p>
            At Tarini Veterinary Clinic, we are dedicated to providing
            compassionate and comprehensive veterinary care for your beloved
            pets. With a team of experienced veterinarians and support staff, we
            aim to ensure the health and happiness of your furry family members.
            Our clinic is more than just a medical facility – it's a place where
            animals receive the highest quality of care in a warm and welcoming
            environment.
          </p>
          <p>
            At Tarini Veterinary Clinic, our mission is centered on delivering
            exceptional care and support to pets and their owners. We're
            committed to:
          </p>
          <ul>
            <li>
              <strong>Quality Care: </strong>Providing pets with the highest
              standard of medical attention, ensuring their health and
              well-being is our foremost priority.
            </li>
            <li>
              <strong>Compassion: </strong>Approaching every pet with empathy
              and kindness, creating a stress-free and comforting environment
              that fosters trust and healing.
            </li>
            <li>
              <strong>Education: </strong>Equipping pet owners with knowledge
              about preventive care and best practices, enabling them to make
              informed decisions for their pets' long-term health.
            </li>
            <li>
              <strong>Innovation: </strong>Our primary mission is to deliver
              top-notch medical care to pets, focusing on their well-being and
              comfort.
            </li>
            <li>
              <strong>Quality Care: </strong>Our primary mission is to deliver
              top-notch medical care to pets, focusing on their well-being and
              comfort.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- us section -->

    <section id="services" class="about_section layout_padding-bottom pt-5">
      <div class="container">
        <div class="detail-box">
          <div class="heading_container">
            <img src="{% static 'images/heading-img.png' %}" alt="" />
            <h2>Services</h2>
          </div>
          <p>
            At Tarini Veterinary Clinic, we offer a diverse range of services
            designed to provide the best possible care for your cherished pets.
          </p>
          <br />
          <ul>
            <li>
              <strong>Vaccinations : </strong>We provide essential vaccinations
              to protect your pets from common and preventable diseases.
            </li>
            <li>
              <strong>Surgery : </strong>Our skilled surgeons perform various
              minor surgical procedures using modern techniques and equipment,
              ensuring the safety and comfort of your pets.
            </li>
            <li>
              <strong>Emergency Care : </strong>We understand emergencies can
              happen any time. Our clinic is equipped to handle urgent medical
              situations during our operating hours.
            </li>
            <li>
              <strong>Nutritional Guidance : </strong>Proper nutrition is vital
              for your pet's well-being. Our experts provide dietary
              recommendations tailored to your pet's needs.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- end us section -->

    <!-- us section -->

    <section id="us" class="about_section layout_padding-bottom pt-5">
      <div class="container">
        <div class="detail-box">
          <div class="heading_container">
            <img src="{% static 'images/heading-img.png' %}" alt="" />
            <h2>Why Choose Us</h2>
          </div>
          <p>
            Choosing the right veterinary clinic for your beloved pets is a
            significant decision. At Tarini Veterinary Clinic, we stand out for
            a multitude of reasons:
          </p>
          <br />
          <ul>
            <li>
              <strong>Experienced Team : </strong>Our team of skilled
              veterinarians brings a wealth of knowledge and expertise to
              address your pet's needs.
            </li>
            <li>
              <strong>Personalized Approach : </strong>We understand that every
              pet is unique. Our individualized care plans cater to your pet's
              specific requirements.
            </li>
            <li>
              <strong>Comfortable Environment : </strong>We've designed our
              clinic to be a calm and comforting space where pets can relax and
              feel at ease.
            </li>
            <li>
              <strong>Client Education : </strong>We empower pet owners with
              information, helping them make informed decisions about their
              pet's health.
            </li>
            <li>
              <strong>Holistic Well-being : </strong>We focus on not just
              treating illnesses but enhancing the overall quality of life for
              your pets.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- end us section -->

    <!-- info section -->
    <section class="info_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="info_contact">
              <h5>CONTACT INFO</h5>
              <div>
                <img src="images/call.png" alt="" />
                <p>+91 7896929440</p>
              </div>
              <div>
                <img src="images/mail.png" alt="" />
                <p>vikrams_07@yahoo.co.in</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="info_time">
              <h5>Opening Hours:</h5>
              <div>
                <p>Monday:</p>
                <ul>
                  <li>Evening Shift: 4PM - 8PM</li>
                </ul>
              </div>
              <div>
                <p>Tuesday to Sunday:</p>
                <ul>
                  <li>Morning Shift: 8:30AM - 1PM</li>
                  <li>Evening Shift: 4PM - 8PM</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="review_container">
              <h5>Review Here:</h5>
              <a
                href="https://www.google.com/maps/place/Tarini+Vet+Clinic/@26.6257112,92.7978893,17z/data=!3m1!4b1!4m6!3m5!1s0x3744e9a9ff3a9f87:0x8b806fda51b177be!8m2!3d26.6257112!4d92.8004642!16s%2Fg%2F11q9tj8xdl?entry=ttu"
                target="_blank"
              >
                <img
                  src="{% static 'images/review.png' %}"
                  alt=""
                  height="100px"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
          .querySelector(".custom_menu-btn")
          .classList.toggle("menu_btn-style");
      }
    </script>
  </body>
</html>
