{% extends 'base.html' %}
<!--prettier ignore-->
{% load static %}
<!--prettier ignore-->
{% block title %}Tarini Vet Clinic{%endblock title %}
<!--prettier ignore-->
{% block body %}
<!--prettier ignore-->
<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="" id="">
          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'about' %}">About</a>
              <a href="{% url 'contact' %}">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box">
            <div class="number"></div>
            <h1>
              Tarini <br />
              <span> Vet Clinic </span>
            </h1>
            <p>
              Your trusted destination for top-notch veterinary care and
              dedicated pet services, ensuring the well-being and happiness of
              your beloved furry companions.
            </p>
            <div class="btn-box">
              <a href="{% url 'about' %}" class="btn-1"> Read More </a>
              <a href="{% url 'contact' %}" class="btn-2"> Contact Us </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/slider-img.png' %}" alt="doggy" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="detail-box">
      <div class="heading_container">
        <img src="{% static 'images/heading-img.png' %}" alt="" />
        <h2>About Us</h2>
      </div>
      <p>
        At Tarini Vet Clinic, our mission is to promote the health and welfare
        of animals through exceptional veterinary services. We strive to build
        lasting relationships with both pets and their owners, offering
        personalized care tailored to your pet's unique needs.
      </p>
      <div class="btn-box">
        <a href="{% url 'about' %}#about">
          <span> Read More </span>
          <img src="{% static 'images/link-arrow.png' %}" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

<!-- animal section -->
<section class="animal_section layout_padding">
  <div class="container">
    <div class="animal_container">
      <div class="box b1">
        <div class="img-box">
          <img src="{% static 'images/dog.jpg'%}" alt="" />
        </div>
        <div class="detail-box">
          <h5>Dogs</h5>
          <p>
            Dogs have an extraordinary sense of smell, with some breeds having
            up to 300 million scent receptors in their noses, compared to about
            5 million in humans.
          </p>
        </div>
      </div>
      <div class="box b2">
        <div class="img-box">
          <img src="{% static 'images/bird.jpg'%}" alt="" />
        </div>
        <div class="detail-box">
          <h5>Birds</h5>
          <p>
            The common Swift is one of the most remarkable migratory birds,
            capable of spending nearly its entire life in the air.
          </p>
        </div>
      </div>
      <div class="box b1">
        <div class="img-box">
          <img src="{% static 'images/fish.jpg'%}" alt="" />
        </div>
        <div class="detail-box">
          <h5>Fish</h5>
          <p>
            Some species of fish have the remarkable ability to change their
            gender. This phenomenon, known as sequential hermaphroditism
          </p>
        </div>
      </div>
      <div class="box b2">
        <div class="img-box">
          <img src="{% static 'images/cat.jpg' %}" alt="" />
        </div>
        <div class="detail-box">
          <h5>Cats</h5>
          <p>
            Cats have a unique way of communicating with humans – they often use
            a specific "meow" just for human interaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end animal section -->

<!-- pet section -->
<section class="pet_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'images/pet-img.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <img src="{% static 'images/heading-img.png' %}" alt="" />
            <h2>Caring for your pets</h2>
          </div>
          <p>
            Tarini Vet Clinic is dedicated to providing exceptional care for
            your beloved pets. Our team of experienced veterinarians and
            compassionate staff is committed to ensuring the health and
            well-being of your furry family members.
          </p>
          <div class="btn-box">
            <a href="{% url 'about' %}#services">
              <span> Read More </span>
              <img src="{% static 'images/link-arrow.png' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end pet section -->

<!-- us section -->
<section class="us_section layout_padding-bottom pt-5">
  <div class="container">
    <div class="heading_container">
      <img src="{% static 'images/heading-img.png' %}" alt="" />
      <h2>Why Choose Us</h2>
      <p>
        Our experienced team provides comprehensive veterinary services, from
        preventive care to emergency support, ensuring your furry family members
        enjoy a healthy and joyful life. With state-of-the-art facilities,
        personalized attention, and a compassionate approach, Tarini Vet Clinic
        is the trusted partner you need for your pets' well-being.
      </p>
    </div>
    <div class="us_container">
      <div class="box">
        <div class="img1-box">
          <img src="{% static 'images/pet1.png'%}" alt="" />
        </div>
        <div class="img2-box">
          <img src="{% static 'images/omega.png'%}" alt="" />
        </div>
        <div class="detail-box">
          <h6>PET NUTRITIONISTS</h6>
        </div>
      </div>
      <div class="box">
        <div class="img1-box">
          <img src="{% static 'images/pet2.png'%}" alt="" />
        </div>
        <div class="img2-box">
          <img src="{% static 'images/dog.png'%}" alt="" />
        </div>
        <div class="detail-box">
          <h6>STANDARDS</h6>
        </div>
      </div>
      <div class="box">
        <div class="img1-box">
          <img src="{% static 'images/pet1.png'%}" alt="" />
        </div>
        <div class="img2-box">
          <img src="{% static 'images/shield.png'%}" alt="" />
        </div>
        <div class="detail-box">
          <h6>QUALITY & SAFETY</h6>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="{% url 'about' %}#us">
        <span> Read More </span>
        <img src="{% static 'images/link-arrow.png'%}" alt="" />
      </a>
    </div>
  </div>
</section>
<!-- end us section -->

<!-- client section -->
<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <img src="{% static 'images/heading-img.png'%}" alt="" />
      <h2>Our Doctors</h2>
    </div>
    <div id="contactUsCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/client.png'%}" alt="" />
            </div>
            <div class="detail-box">
              <h4>Mithilsh Gautam</h4>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable cIt is a long established fact that a reader
                will be distracted by the readable c
              </p>
              <img src="{% static 'images/quote.png'%}" alt="" />
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/client.png'%}" alt="" />
            </div>
            <div class="detail-box">
              <h4>yoyo Mengo</h4>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable cIt is a long established fact that a reader
                will be distracted by the readable c
              </p>
              <img src="{% static 'images/quote.png' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/client.png' %}" alt="" />
            </div>
            <div class="detail-box">
              <h4>Jack Mengo</h4>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable cIt is a long established fact that a reader
                will be distracted by the readable c
              </p>
              <img src="{% static 'images/quote.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <button
          class="carousel-control-prev"
          data-bs-target="#contactUsCarousel"
          data-bs-slide="prev"
        ></button>
        <button
          class="carousel-control-next"
          data-bs-target="#contactUsCarousel"
          data-bs-slide="next"
        ></button>
      </div>
    </div>
  </div>
</section>
<!-- end client section -->

<!-- contact section -->
<section class="contact_section layout_padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div id="content" class="form_container">
          <div class="heading_container">
            <img src="images/heading-img.png" alt="" />
            <h2>Request A Call Back</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the
            </p>
          </div>
          <div>
            <input v-model="full_name" type="text" placeholder="Full Name " />
          </div>
          <div>
            <input
              v-model="phone_number"
              type="text"
              placeholder="Phone number"
            />
          </div>
          <div>
            <input
              v-model="pet_breed"
              type="text"
              placeholder="Your Pet's Breed "
            />
          </div>
          <div>
            <input
              v-model="message"
              type="text"
              class="message-box"
              placeholder="Reason For Check Up"
            />
          </div>
          <div class="d-flex">
            <button @click="send_sms">SEND</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="map_container">
          <div class="map-responsive">
            <iframe
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Tarini+Pet+Tezpur"
              width="600"
              height="300"
              frameborder="0"
              style="border: 0; width: 100%; height: 100%"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->
{% endblock body %} 
<!--prettier ignore-->

{% block vue %}
<!--prettier ignore-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#content",
    data: {
      full_name: "",
      phone_number: "",
      email: "",
      message: "",
    },
    methods: {
      send_sms: function () {
        var self = this;
        var data = {
          "full_name": self.full_name,
          "phone_number": self.phone_number,
          "pet_breed": self.pet_breed,
          "message": self.message,
        };
        $.ajax({
          type: "GET",
          data: data,
          url: {% url 'sms_sent' %},
          success: function (response) {
            console.log(response);
          },
        });
        console.log("Working", self.full_name);
      },
    },
  });
</script>

{% endblock vue %}
